.table th, .table td {
  text-align: center;
  vertical-align: middle;
  height: 100px;
}
.page-title{
  text-align: center;
}
.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  white-space: nowrap;
}

