

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/logo.png" alt="" width="100" height="100">
      </a>
    </div>
  </nav>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="navbarOpen" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Models</a>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isLoggedIn() && authService.getMyRole()?.roleId === 1">
    <li *ngIf="authService.isLoggedIn()" class="nav-item">
      <a class="nav-link"  routerLink="/history" routerLinkActive="active">Order History</a>
    </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="authService.isLoggedIn() && authService.getMyRole()!.roleId === 1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Extras
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/admin-dashboard" routerLinkActive="active">Admin Dashboard</a>
        </div>
      </li>
      
    </ul>
    <ul class="navbar-nav" id="navbarInput">
      <li *ngIf="!authService.isLoggedIn()" class="nav-item m-0 p-2">
        <a class="btn btn-success" href="/login">Log in</a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item m-0 p-2">
        <a class="btn btn-warning" href="/register">Register</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item m-0 p-2">
        <p>Logged in as {{ getUserData().data.email }}</p>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item m-0 p-2">
        <a class="btn btn-danger " href="" (click)="authService.logout()">Logout</a>
      </li>
    </ul>

  </div>
</nav>
