<!-- Main navigation bar with expanded and light styling -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Nested navbar for the logo -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <!-- Brand logo -->
      <a class="navbar-brand" href="#">
        <img src="/assets/logo.png" alt="" width="100" height="100">
      </a>
    </div>
  </nav>

  <!-- Toggler button for collapsing navbar in mobile view -->
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible navbar content -->
  <div class="collapse navbar-collapse" [class.show]="navbarOpen" id="navbarSupportedContent">
    <!-- Left-aligned navigation links -->
    <ul class="navbar-nav mr-auto me-auto">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <!-- Models -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Models</a>
        </li>
        <!-- Order History, visible if logged in -->
        <li *ngIf="authService.isLoggedIn()" class="nav-item">
          <a class="nav-link"  routerLink="/history" routerLinkActive="active">Order History</a>
        </li>
        <!-- Dropdown toggle for Extras, visible if logged in and user is admin -->
        <li class="nav-item dropdown" *ngIf="authService.isLoggedIn() && authService.getMyRole()?.roleId === 1">
          <a class="nav-link dropdown-toggle" *ngIf="authService.isLoggedIn() && authService.getMyRole()!.roleId === 1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Extras
          </a>
          <!-- Dropdown menu for admin options -->
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/admin-dashboard" routerLinkActive="active">Admin Dashboard</a>
          </div>
        </li>
      </ul>

      <!-- Right-aligned authentication links and user info -->
      <ul class="navbar-nav" id="navbarInput">
        <!-- Login button, visible if not logged in -->
        <li *ngIf="!authService.isLoggedIn()" class="nav-item m-0 p-2">
          <a class="btn btn-success" href="/login">Log in</a>
        </li>
        <!-- Register button, visible if not logged in -->
        <li *ngIf="!authService.isLoggedIn()" class="nav-item m-0 p-2">
          <a class="btn btn-warning" href="/register">Register</a>
        </li>
        <!-- Display logged in user email, visible if logged in -->
        <li *ngIf="authService.isLoggedIn()" class="nav-item m-0 p-2">
          <p>Logged in as {{ getUserData().data.email }}</p>
        </li>
        <!-- Logout button, visible if logged in -->
        <li *ngIf="authService.isLoggedIn()" class="nav-item m-0 p-2">
          <a class="btn btn-danger " href="" (click)="authService.logout()">Logout</a>
        </li>
      </ul>
  </div>
</nav>
