@media (max-width: 1024px) {
  footer, header {
    text-align: center;
  }
}

footer{
  position:inherit;
  margin-top: auto;
  padding: 20px 0;

  display: flex;
  bottom:0;
  right:0;
  left:0;
}
header, .bg-dark {
  background-color: #343a40;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
