<div class="container-fluid align-items-center">
  <div class="row justify-content-center">

    <div class="col-md-4 col-sm-12">
      <img src="assets/picture-page.png" alt="Descriptive Alt Text" class="img-fluid">
    </div>
    <!-- Column for the jumbotron/content -->
    <div class="col-md-6 align-items-center">
      <div class="jumbotron   h-100">
        <h1 class="display-5 " >Welcome to RePro3D</h1>
        <p class="lead">In RePro3D platform you are having different services to choose and also print your favourite product!</p>
        <hr class="my-4">
        <p>Dive deeper into the boundless possibilities of 3D printing with just a click</p>
        <p class="lead">
          <a class="btn btn-secondary btn-lg" href="#" role="button">Explore more</a>
        </p>
      </div>
    </div>
  </div>
</div>
