
<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="'assets/'+product.item_id+'.png'" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text"><strong>Price:</strong> {{product.cost}} Euro</p>
    <p class="card-text"><strong>Build time:</strong> {{product.est_time}}</p>
    <p class="card-text"><strong>Material:</strong> {{product.material}}</p>
    <p class="card-text"><strong>Dimensions:</strong> {{product.dimensions}}</p>
    <a href="#" class="btn btn-primary">Proceed to checkout</a>
    <a  class="btn btn-light" [routerLink]="['/product-detail', product.item_id]">more</a>
  </div>
</div>
