<app-header></app-header>
<div class="container">
  <h2 class="page-title">Product cards</h2>

  <input type="text" [(ngModel)]="searchTerm" placeholder="Search products..." class="form-control mb-4">

  <div class="row">
    <!-- Use *ngFor here to iterate through filteredProducts and generate a card for each product -->
    <div class="col-sm-4 mb-4" *ngFor="let product of filteredProducts">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="product.imgUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text"><strong>Price:</strong> {{product.price}} Euro</p>
          <p class="card-text"><strong>Build time:</strong> {{product.buildTime}}</p>
          <p class="card-text"><strong>Material:</strong> {{product.material}}</p>
          <p class="card-text"><strong>Dimensions:</strong> {{product.dimensions}}</p>
          <a href="#" class="btn btn-primary">Proceed to checkout</a>
          <a href="#" class="btn btn-light">more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
