<div class="admin-dashboard">

    <!-- Jumbotron for the dashboard header -->
    <div class="jumbotron">
        <h1 class="display-4">Admin Dashboard</h1>
        <hr class="my-4">

        <!-- Flex container for the action buttons, centered horizontally -->
        <div class="d-flex justify-content-center">
            
            <!-- Button to navigate to printer management page -->
            <a class="btn btn-manage-printers" routerLink="/printer-management" routerLinkActive="active">Manage Printers</a>
            
            <!-- Button to navigate to product management page -->
            <a class="btn btn-manage-products" routerLink="/product-list" routerLinkActive="active">Manage Products</a>
            
            <!-- Button to navigate to redeem codes management page -->
            <a class="btn btn-manage-redeem-codes" routerLink="/redeem-code" routerLinkActive="active">Manage Redeem codes</a>
            
            <!-- Button to toggle webshop state -->
            <button class="btn" 
                    [class.btn-enable-webshop]="!isWebshopEnabled" 
                    [class.btn-disable-webshop]="isWebshopEnabled" 
                    (click)="toggleWebshop()">
                {{ isWebshopEnabled ? 'Disable' : 'Enable' }} Webshop
            </button>
        </div>
    </div>
</div>
