.container {
  width: 90%;
  max-height: 90vh;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.text-center {
  text-align: center;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

h, td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

table {
  width: 100%;
  margin-top: 20px;
}

.btn-primary {
  margin-bottom: 20px;
}

button {
  margin: 2px;
}


nav {
  margin-top: 20px;
}
