
.mb-3{

    display: block;
    margin: 0 auto;
}

.container {
  display: flex; -direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}


.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  text-align: center;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  margin: 20px 0;

.page-item {
  margin: 0 10px;
}


button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary, .btn-secondary, .btn-danger, .btn-sm {
  border: none;
  color: white;
}

.btn-primary {
  background-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-sm {
  padding: 8px 16px;
  font-size: 14px;
}


.select {
  height: 38px;
  font-size: 16px;
  padding: 4px 8px;
  margin: 5px;

}}
